.main {
  background: $bg-dark;
  overflow: hidden;

  &__info-1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    padding: 101px 195px 102px 191px;
    position: relative;

    &__title {
      color: #FAEB49;
      font-family: DynaPuff;
      font-size: 48px;
      font-weight: 700;
      line-height: normal;
    }

    &__txt {
      width: 524px;
      color: #FFF;
      font-family: Manrope;
      font-size: 16px;
      font-weight: 500;
      line-height: normal;
    }

    &__oval,
    &__oval1 {
      width: 268px;
      height: 512px;
      position: absolute;
      top: 243px;
      right: -142px;
      border: 1px solid #737373;
      border-radius: 8.375rem / 16rem;
      z-index: 1000;
    }

    &__oval {
      transform: translate(-50%, -50%) rotate(-45deg);
    }

    &__oval1 {
      transform: translate(-50%, -50%) rotate(45deg);
    }

  }

  &__info-2 {
    display: flex;
    align-items: flex-start;
    gap: 96px;

    &__group {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 5px;
    }

    &__numbers {
      color: #FFF;
      font-family: DynaPuff;
      font-size: 48px;
      font-weight: 700;
      line-height: normal;
    }

    &__numbers-info {
      width: 116px;
      color: #FFF;
      font-family: Manrope;
      font-size: 16px;
      font-weight: 700;
      line-height: normal;
    }
  }

  &__banking-mobile {
    background: $bg-grey;

    &__top {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 86px 195px 63px 195px;
    }

    &__itemtop {
      display: flex;
      width: 100%;
      padding: 24px 20px;
      flex-direction: column;
      align-items: flex-start;
      border-radius: 24px;
      background: #FFFEF2;
      position: relative;
    }

    &__ellipse-cardtop {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 56px;
      height: 56px;
      position: absolute;
      right: 40px;
      top: 44px;
      z-index: 1000;
    }

    &__ellipse-cardtop::before {
      content: '';
      display: block;
      width: 56px;
      height: 56px;
      background-color: #FFF;
      filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.09));
      backdrop-filter: blur(5px);
      border-radius: 50%;
      position: absolute;
      z-index: -1;
    }

    &__item-imgtop {
      width: 100%;
      height: 490px;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%),
        url('../images/project-banking/under-phone-img.jpg');
      background-size: cover;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      object-fit: cover;
      margin-bottom: 20px;
      border-radius: 13px;
    }

    &__titletop {
      align-self: stretch;
      color: #565656;
      font-family: DynaPuff;
      font-size: 40px;
      font-weight: 600;
      line-height: normal;
      margin-bottom: 22px;
    }

    &__txttop {
      color: #000;
      font-family: Manrope;
      font-size: 16px;
      font-weight: 700;
      line-height: normal;
    }

    &__bottom {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      justify-content: center;
      align-items: center;
      gap: 40px;
      padding: 0px 195px 86px 195px;
    }

    &__item {
      display: flex;
      height: 545px;
      padding: 20px;
      flex-direction: column;
      align-items: flex-start;
      border-radius: 24px;
      background: #FFFEF2;
      position: relative;
    }

    &__ellipse-card {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 56px;
      height: 56px;
      position: absolute;
      right: 40px;
      top: 40px;
      z-index: 1000;
    }

    &__ellipse-card::before {
      content: '';
      display: block;
      width: 56px;
      height: 56px;
      background-color: #FFF;
      filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.09));
      backdrop-filter: blur(5px);
      border-radius: 50%;
      position: absolute;
      z-index: -1;
    }

    &__item-img {
      width: 100%;
      height: 338px;
      background-size: cover;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      object-fit: cover;
      border-radius: 13px;
      margin-bottom: 20px;
    }

    &__title {
      color: #565656;
      font-family: DynaPuff;
      font-size: 23px;
      font-weight: 700;
      line-height: normal;
      margin-bottom: 22px;
      width: 100%;
    }

    &__txt {
      color: #000;
      font-family: Manrope;
      font-size: 16px;
      font-weight: 500;
      line-height: normal;
    }
  }

  &__graphics-design {

    &__title {
      padding: 82px 403px 38px 191px;
      color: #fff;
      font-family: DynaPuff;
      font-size: 80px;
      font-weight: 700;
      line-height: normal;
    }

    &__wrapper {
      padding: 0 190px 138px 195px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 26px;
    }

    &__wrapper-imgtop,
    &__wrapper-imgmiddle,
    &__wrapper-imgbottom {
      width: 100%;
      height: 414px;
      position: relative;
    }

    &__wrapper-imgtop {
      grid-column: span 2;
    }

    &__wrapper-imgtop img {
      width: 100%;
      height: 100%;
      border-radius: 40px;
      object-fit: cover;
      filter: grayscale(100%) brightness(0.7);
    }

    &__wrapper-imgtop::before {
      content: '';
      background-image: url(../images/graphics-design/top-icon.svg);
      display: flex;
      background-repeat: no-repeat;
      width: 268px;
      height: 268px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
    }

    &__wrapper-imgmiddle img {
      width: 100%;
      height: 100%;
      border-radius: 40px;
      object-fit: cover;
      filter: grayscale(100%);
    }

    &__wrapper-imgmiddle::before {
      content: '';
      background-image: url(../images/graphics-design/left-icon.svg);
      display: flex;
      background-repeat: no-repeat;
      width: 187px;
      height: 191.493px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
    }

    &__wrapper-imgbottom img {
      width: 100%;
      height: 100%;
      border-radius: 40px;
      object-fit: cover;
      filter: grayscale(100%) brightness(0.8);
    }

    &__wrapper-imgbottom::before {
      content: '';
      background-image: url(../images/graphics-design/right-icon.svg);
      display: flex;
      background-repeat: no-repeat;
      width: 233px;
      height: 225px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
    }
  }

  &__bottom {
    background-image: url(../images/main-bg-btm/Rectangle-8.jpg);
    display: block;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;

    &__title {
      padding: 303px 191px 323px 190px;
      color: #FFF;
      text-align: center;
      font-family: DynaPuff;
      font-size: 48px;
      font-style: normal;
      line-height: normal;
      position: relative;
    }
  }

  &__bottom::before {
    content: '';
    position: absolute;
    background-color: rgba(30, 30, 30, 0.8);
    width: 100%;
    height: 100%;
  }
}

@import './base/adaptive';