@media (max-width: 960px) {

  .header {

    &__container {
      padding: 41px 31px 0 34px;

      &__nav-bar {
        display: none;
      }

      &__burger-btn {
        display: block;
      }

    }

    &__title {
      padding: 273px 31px 130px 34px;
      width: 521px;
      height: 393px;
    }

  }

  .main {

    &__info-1 {
      padding: 101px 31px 102px 34px;

      &__oval,
      &__oval1 {
        right: -269px;
      }
    }

    &__banking-mobile {

      &__top {
        padding: 52px 32px 102px 33px;
      }

      &__bottom {
        grid-template-columns: 1fr 1fr;
        padding: 0px 32px 122px 33px;
      }

      &__item-img {
        height: 409px;
      }

      &__item:nth-child(3) {
        display: none;
      }
    }

    &__graphics-design {

      &__title {
        padding: 82px 32px 38px 32px;
      }

      &__wrapper {
        padding: 0px 32px 129px 32px;
      }
    }


    &__bottom__title {
      padding: 274px 31px 294px 32px;
    }

  }

  .footer {

    &_wrapper {
      padding: 96px 22px 60px 32px;
    }
  }
}

@media (max-width: 584px) {

  .header {

    &__container {
      padding: 41px 16px 0 17px;
    }

    &__title {
      width: 326px;
      height: 239px;
      font-size: 48px;
      padding: 149px 16px 149px 17px;
    }
  }

  .main {

    &__info-1 {
      padding: 101px 16px 102px 17px;

      &__title {
        width: 342px;
        font-size: 36px;
      }

      &__txt {
        width: 524px;
        font-size: 15px;
      }

      &__oval,
      &__oval1 {
        top: 257px;
        right: -248px;
      }
    }

    &__info-2 {
      gap: 14px;

      &__group {
        width: 105px;
      }

      &__numbers {
        font-size: 36px;
      }

      &__numbers-info {
        width: 76px;
        font-size: 16px;
      }
    }

    &__banking-mobile {

      &__top {
        padding: 52px 32px 63px 33px;
      }

      &__bottom {
        grid-template-columns: 1fr;
        padding: 0px 32px 122px 33px;
      }

      &__item:nth-child(1) {
        display: none;
      }
    }

    &__graphics-design {

      &__title {
        padding: 58px 16px 28px 16px;
        font-size: 56px;
      }

      &__wrapper {
        padding: 0px 21px 93px 16px;
        grid-template-columns: 1fr;
      }

      &__wrapper-imgtop {
        grid-column: span 1;
      }

      &__wrapper-imgtop::before {
        width: 172px;
        height: 172px;
        background-size: cover;
      }

      &__wrapper-imgmiddle::before {
        width: 134px;
        height: 137px;
        background-size: cover;
      }

      &__wrapper-imgbottom::before {
        width: 148px;
        height: 143px;
        background-size: cover;
      }
    }

    &__bottom__title {
      padding: 180px 16px 173px 16px;
      font-size: 24px;
    }
  }
}


@media (max-width: 400px) {

  .header {

    &__title {
      width: 250px;
      height: 200px;
      font-size: 37px;
      padding: 149px 15px 149px 15px;
    }

  }

  .main {

    &__info-1 {
      padding: 72px 17px 76px 16px;

      &__title {
        width: 272px;
        font-size: 30px;
      }

      &__txt {
        width: 272px;
        font-size: 12px;
      }

      &__oval,
      &__oval1 {
        top: 214px;
        right: -213px;
        width: 167.488px;
        height: 319.978px;
        border-radius: 13.375rem / 26em;
      }
    }

    &__info-2 {
      gap: 5px;

      &__group {
        width: 97px;
      }
    }

    &__numbers {
      font-size: 30px;
    }

    &__numbers-info {
      width: 60px;
      font-size: 10px;
    }

    &__banking-mobile {

      &__item-imgtop {
        height: 278px;
      }

      &__titletop {
        font-size: 32px;
      }

      &__item-img {
        height: 363px;
      }
    }
  }

  .footer {

    &__button {

      &__title {
        font-size: 18px;
        white-space: nowrap;
      }

      &__txt {
        font-size: 13px;
        white-space: nowrap;
      }

      &__link svg:first-child {
        padding-right: 20px;
        min-width: 52px;
        min-height: 51px;
      }

      &__link svg:last-child {
        min-width: 30px;
        min-height: 10px;
      }
    }
  }
}