body {
  box-sizing: border-box;
  overflow-x: hidden;
}

.header {
  background: $bg-header;
  background-size: cover;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 41px 195px 0 191px;
    // background-attachment: fixed;
    // background: $bg-dark;
    // width: 74vw;
    // position: fixed;
    // padding: 18px 195px;

    &__nav-bar ul {
      display: flex;
      gap: 20px;
    }

    &__item {
      display: flex;
      padding: 10px 16px;
      gap: 12px;
      justify-content: center;
      align-items: center;
      border-radius: 20px;
      border: 1px solid #fff;
      color: #FFF;
      font-family: 'Manrope', sans-serif;
      font-size: 16px;
      font-weight: 700;
      line-height: normal;
      height: 20px;
    }

    &__burger-btn {
      background-color: transparent;
      border: none;
      display: none;
      border-radius: 20px;
      border: 2px solid #FFF;
      padding: 20px;
    }
  }

  &__title {
    display: flex;
    padding: 491px 195px 119px 191px;
    color: #FFF;
    font-family: 'DynaPuff', system-ui;
    font-size: 70px;
    font-weight: 700;
    line-height: normal;
  }

}

@import './base/adaptive';