.footer {

  &__wrapper {
    background: $bg-dark;
  }

  &__button {
    padding: 78px 32px 0 32px;

    &__link {
      display: flex;
      align-items: center;
      padding: 5% 15%;
      border-radius: 139px;
      width: auto;
      border: 1px solid var(--Gray-6, #F2F2F2);
    }

    &__link svg:first-child {
      padding-right: 45px;
      min-width: 108px;
      min-height: 108px;
    }

    &__container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 17px;
      flex: 1;
    }

    &__title {
      color: #FFF;
      text-align: center;
      font-family: DynaPuff;
      font-size: 3vw;
      font-weight: 700;
      line-height: normal;
    }

    &__txt {
      display: flex;
      gap: 24px;
      color: #FFF;
      text-align: center;
      align-items: center;
      font-family: Manrope;
      font-size: 1.5vw;
      font-weight: 500;
      line-height: normal;
    }

    &__link p svg:last-child {
      min-width: 55px;
      min-height: 26px;
    }
  }

  &__social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 34px;
    padding-top: 163px;
  }

  &__copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 21px 0 30px 0;

    &__txt {
      color: #FFF;
      text-align: center;
      font-family: Manrope;
      font-size: 16px;
      font-weight: 500;
      line-height: normal;
    }
  }
}

@import './base/adaptive';